body
{
	background-color: rgb(239, 255, 239);
	min-width: 610px;
}
hr
{
	color: #4c4f4c;
}
.main_block
{
	border-radius: 2px;
    box-shadow: 0px 0px 5px #888888;
    background-color: #fff;
    padding-bottom: 15px;

}

.main_img_section
{
	padding-left:0px;
	padding-right: 0px;

}
.main_img>img 
{
	width: 100%;

}
.short_info
{
	position: absolute;
	background-color: #036803;
	/*	background-color: rgba(256, 256, 256, 0.2);
border-radius: 0px 0px 6px 6px;
	border: 1px solid #aaa;*/
	padding: 5px 15px;
	color: #fff;
	top: -2px;
	max-width: 400px;
   

}

.job_p
{
	font-size: 1.3em;
}

.he
{
	margin-top: 25px;
}
.job_exp
{
	margin-top: 0;
}

.info_section
{
	background-color: rgba(256, 256, 256, 0.6);

}

.gray
{
	color: gray;
	font-size: 0.99em;
}

.skills
{
	width: 100%;
	text-align: justify;
	font-size: 1.5em;
}

.skills:after
{
	width:100%;
	content:"";
	display: inline-block;

}

.skills>div
{
	display: inline-block;
	    vertical-align: middle;
}

.skills>div:nth-child(5), .skills>div:nth-child(3), .skills>div:nth-child(8)
{
	font-size: 2.0em;
}

.skills>div:nth-child(2), .skills>div:nth-child(4), .skills>div:nth-child(7), .skills>div:nth-child(10)
{
	font-size: 1.3em;
}
.skills>div:nth-child(1), .skills>div:nth-child(6), .skills>div:nth-child(9)
{
	font-size: 0.7em;
}

.ribbon_wrapper
{
	
	bottom: 150px;
	position: absolute;
	right: 0;
}

.ribbon_body
{
	background-color:  #036803;
	padding: 15px;
}

.ribbon_body>div
{
	text-align: left;
	color: #fff;
	font-size: 1.5em;
	width:100%;
	
}

@media (max-device-width: 1023px) and (orientation: portrait)
{
	.short_info
	{
		/*max-width: 310px;*/
   		max-width: 100%;
   		top: 450px;
   		font-size: 1.5em;
   		padding: 0 20px;

	}
	.ribbon_wrapper {
    
    right: 537px;
    top: 0;
    left: 0;
	}

	p
	{
		font-size: 1.5em;
	}
	h1
	{
		font-size:2.8em;
	}
	h2
	{
		font-size: 50px;
	}
	h3
	{
		font-size:1.9em;
	}

	.main_block
	{
		width: 100%;
	}
	.job_exp
	{
		margin-top: 140px;
	}
	.pdf_btn {font-size:2.3em;}
	 
	
}


@media (max-device-width: 1023px) and (orientation: landscape)
{
	.short_info
	{
		/*max-width: 310px;*/
   		max-width: 100%;
   		top: 385px;
   		font-size: 1.5em;
	    padding: 0 20px;

	}
	.ribbon_wrapper {
    
    right: 537px;
    top: 0;
    left: 0;
	}

	h1
	{
		font-size:2.8em;
	}
	h2
	{
		font-size: 50px;
	}
	h3
	{
		font-size:1.9em;
	}
	p
	{
		font-size: 1.5em;
	}
	.main_block
	{
		width: 100%;
	}
	.job_exp
	{
		margin-top: 65px;
	}
	.pdf_btn {font-size:1.7em;}
	 
}

@media only screen and (min-device-width:1025px) and (max-width: 990px)
{
	.short_info
	{
		/*max-width: 310px;*/
   		max-width: 100%;
   		top: 450px;
   		font-size: 1.5em;
   		padding: 0 20px;

	}
	.ribbon_wrapper {
    
    right: 433px;
    top: 0;
    left: 0;
    font-size: 1.1em;
	}

	h1
	{
		font-size:2.8em;
	}
	h2
	{
		font-size: 50px;
	}
	h3
	{
		font-size:1.9em;
	}
	
	.job_exp
	{
		margin-top: 350px;
	}
}

@media only screen and (min-device-width:1025px) and (max-width: 740px)
{
	
.short_info
	{
		max-width: 100%;
   		top: 450px;
   		font-size: 1.5em;
   		padding: 0 20px;

	}
	.ribbon_wrapper {
    
    right: 433px;
    top: 0;
    left: 0;
    font-size: 1.1em;
	}

	
	.job_exp
	{
		margin-top: 370px;
	}
}

@media only screen and (min-device-width:1025px) and (max-width: 720px)
{
	
.short_info
	{
		max-width: 100%;
   		top: 350px;
   		font-size: 1.5em;
   		padding: 0 20px;

	}
	.ribbon_wrapper {
    
    right: 350px;
    top: 0;
    left: 0;
    font-size: 1.1em;
	}
	
}

@media only screen and (min-device-width:1025px) and (max-width: 610px)
{
	
.short_info
	{
		max-width: 100%;
   		top: 350px;
   		font-size: 1.5em;
   		padding: 0 20px;

	}
	.ribbon_wrapper {
    
    right: 299px;
    top: 0;
    left: 0;
    font-size: 1.1em;
	}

	
	.job_exp
	{
		margin-top: 450px;
	}
}



/* timeline css follows:*/

/*.timeline
{
	border-bottom: 2px solid #036803;
	max-height: 44px;
}*/
.timeline {
    border-bottom: 2px solid #036803;
    margin-top: 42px;
    position: absolute;
    width: 97%;
}

.job_section
{
	text-align: center;

	top: 25px;

}

.job_name
{
	background-color: rgb(249, 255, 251);
}



.job_name>a, .alink
{
	text-decoration: none;
	color: #036803;
	font-size: 1.7em;
	font-weight: bold;
}

.job_name>a:hover, .alink:hover
{
	cursor: pointer;
	text-decoration: underline;
	color: #036803;
}

.job_date
{
	color: #4c4f4c;
	font-size: 1.3em;
	


}

.job_point
{
	width: 15px;
	height: 15px;
	border-radius: 10px;
	background-color: #036803;
	display: inline-block;
	margin: 10px 0px 0px 0px;
}

.job_city
{
	color: gray;
	font-size: 1.2em;

}

.job_descript
{
 text-align: left;

 
}

.period
{
	text-align: center;
	padding-bottom: 10px;
	font-size: 1.1em;
}

.position
{
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
}




@media (max-device-width: 1023px) and (orientation: portrait)
{
	

	.timeline 
	{
	    border-bottom: none;
	    border-right: 2px solid #036803;
	    width: 150px;
	    height: 91%;
	}
	.job_section 
	{
    	text-align: left;
    	top: 25px;
	}
	.job_date 
	{
	    font-size: 2.5em;
	    width: 100px;
	    margin-top: 60px;
	    display: inline-block;
	}	
	.job_point 
	{
	    width: 25px;
	    height: 25px;
	    border-radius: 20px;
	    display: inline-block;
	    margin: -55px 32px 0px 33px;
	}
	.job_name 
	{
	    display: inline-block;
	    margin-left: 187px;
	    margin-top: -59px;
	}
	

	.job_city 
	{
    	font-size: 2.0em;
	}
	.position 
	{
	    text-align: left;
	    font-size: 2.5em;
	}
	.period 
	{
	    text-align: left;
	    font-size: 1.7em;
	}
	.job_p
	{
		font-size: 2.2em;
	}


}

@media (max-device-width: 1023px) and (orientation: landscape)
{
	.timeline 
	{
	    border-bottom: none;
	    border-right: 2px solid #036803;
	    width: 150px;
	    height: 91%;
	}
	.job_section 
	{
    	text-align: left;
    	top: 25px;
	}
	.job_date 
	{
	    font-size: 2.5em;
	    width: 100px;
	    margin-top: 60px;
	    display: inline-block;
	}	
	.job_point 
	{
	    width: 25px;
	    height: 25px;
	    border-radius: 20px;
	    display: inline-block;
	    margin: -55px 32px 0px 33px;
	}
	.job_name 
	{
	    display: inline-block;
	    margin-left: 187px;
	    margin-top: -59px;
	}
	.job_name>a 
	{
    	font-size: 3.5em;
	}
	
	.job_city 
	{
    	font-size: 2.0em;
	}
	.position 
	{
	    text-align: left;
	    font-size: 2.5em;
	}
	.period 
	{
	    text-align: left;
	    font-size: 1.7em;
	}
	.job_p
	{
		font-size: 1.9em;
	}

}

@media (max-width: 990px)
{
	.timeline 
	{
	    border-bottom: none;
	    border-right: 2px solid #036803;
	    width: 150px;
	    height: 91%;
	}
	.job_section 
	{
    	text-align: left;
    	top: 25px;
	}
	.job_date 
	{
	    font-size: 2.5em;
	    width: 100px;
	    margin-top: 60px;
	    display: inline-block;
	}	
	.job_point 
	{
	    width: 25px;
	    height: 25px;
	    border-radius: 20px;
	    display: inline-block;
	    margin: -55px 32px 0px 33px;
	}
	.job_name 
	{
	    display: inline-block;
	    margin-left: 187px;
	    margin-top: -59px;
	}
	.job_name>a 
	{
    	font-size: 3.5em;
	}
	.job_city 
	{
    	font-size: 2.0em;
	}
	.position 
	{
	    text-align: left;
	    font-size: 2.5em;
	}
	.period 
	{
	    text-align: left;
	    font-size: 1.7em;
	}
	.job_p
	{
		font-size: 1.9em;
	}
}